:root {
  --main-bg-color: #121111;
  --main-font-family: Liberation Sans, Arial, sans-serif;
  --main-txt-color: white;
  --main-txt-align: justify;
}


* {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
  line-height: 1.5;
  color: var(--main-txt-color);
  text-align: var(--main-txt-align);
}

header {
  margin-bottom: 1.5rem;
}

h1.landing {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: .5rem;
}

h1 {
  margin-bottom: .5rem;
}

h2.landing {
  margin-left: 150px
}

time {
  color: #888;
}

hr {
  margin-top: 2rem;
}

a {
  color: var(--main-txt-color);
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* Lists Begin */
ul, ol, dl {
  margin-left: 150px;
  list-style-type: none;
}

ul, li, dt, dd {
  line-height: 1.5;
}

dd {
  text-transform: uppercase;
  font-size: 75%;
  color: #888;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5rem;
}
/* Lists End */

p.author {
  text-transform: uppercase;
  color: #888;
}
